@import "./clear.scss";
@import "./fonts.scss";
@import "./results.scss";
@import "./inputs.scss";
@import "./media.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  flex-direction: column;
}

.headtext {
  display: flexbox;
  width: 753px;
  height: 98px;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
  opacity: 0.47;
  margin-top: 213px;
  margin-left: 47px;
}
