@import "./clear.scss";
@import "./fonts.scss";
@import "./results.scss";
@import "./inputs.scss";
@import "./media.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  flex-direction: column;
  width: 100%;
}

.headtext {
  height: 98px;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  color: #111111;

}
