.inputs {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 47px;
  width: 98%;
  .inputForm {
    width: 33%;
    margin-right: 32px;
    &[disabled]{
      pointer-events: none;
      opacity: 0.4;
    }
    .mainLabel {
      width: 174px;
      height: 20px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #575757;
      white-space: nowrap;
    }
    .Shapes {
      background: #f3f3f4;
      border-radius: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 68px;
      margin-right: 32px;
      .line {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        .numberinput {
          font-family: "Nekst-Black";
          font-style: normal;
          font-weight: 900;
          font-size: 30px;
          width: 100%;
          line-height: 36px;
          padding-left: 24px;
          color: #575757;
        }
        .number {
          font-weight: 900;
          font-size: 30px;
          color: #575757;
          padding-right: 24px;
        }
        .percent-box {
          width: 69px;
          height: 54px;
          background: #ebebec;
          border-radius: 16px;
          padding: 15px 17px;
          margin: -10px 7px -8px 0px;
          display: flex;
          flex-direction: row;
          .percent {
            width: 20px;
            font-family: "Nekst-Black";
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 120%;
            text-align: right;
            color: #575757;
          }
          h2 {
            font-family: "Nekst-Black";
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 120%;
            text-align: right;
            color: #575757;
          }
        }
      }
      .progress {
        margin-left: 24px;
        width:90%;
        height: 2px;
        padding-top: 16px;
        -webkit-appearance: none;
        appearance: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 16px;
          height: 16px;
          border-radius: 16px;
          background: #ff9514;
          margin-top: calc(2px * 0.5 - 16px * 0.5);
        }
        &::-webkit-slider-runnable-track {
          height: 2px;
          -webkit-appearance: none;
          appearance: none;
        }
        &.slider-progress {
          --range: calc(var(--max) - var(--min));
          --ratio: calc((var(--value) - var(--min)) / var(--range));
          --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
          &::-webkit-slider-runnable-track {
            background: linear-gradient(#ff9514, #ff9514) 0 / var(--sx) 100%
                no-repeat,
              #e1e1e1;
          }
        }
      }
    }
  }
}
