@media (min-width: 1440px) {
  .headtext {
    margin-top: 13%;
    margin-left: 45px;
    width: 70%;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #111111;
    opacity: 0.47;
  }
  .inputs {
    width: 95%;
    margin: 2% 3%;
    .inputForm {
      margin-right: 20px;
      width: 33.33%;
      .mainLabel {
        padding-bottom: 40px;
      }
      .Shapes {
        .progress.slider-progress {
          width: 78%;
        }
      }
    }
  }
  .results {
    margin-top: 0.8%;
    width: 100%;
    .result {
      width: 33.33%;
      margin-right: 2%;
      .content {
        white-space: nowrap;
      }
    }
    .buttomsend {
        width: 33.33%;
      margin-left: -1%;
      margin-right: 7%;
    }
  }
}

@media (max-width: 1439px) and (min-width:1120px) {
  .headtext {
    margin-top: 13%;
    margin-left: 45px;
    width: 70%;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #111111;
    opacity: 0.47;
  }
  .inputs {
    margin: 45px 0px;
    padding: 0px 45px;
    .inputForm {
      margin-right: 20px;
      .mainLabel {
        padding-bottom: 30px;
      }
      .Shapes {
        .progress.slider-progress {
          width: 80%;
        }
      }
    }
  }
  .results {
    width: 100%;
    flex-direction: row;
    padding: 0px 45px;
    .result {
      width: 33%;
      margin-right: 80px;
      .content {
        white-space: nowrap;
      }
    }
    .buttomsend {
      margin-right: 4%;
      width: 33.33%;
    }
  }
}

@media (max-width: 1119px) and (min-width:768px) {
  .headtext {
    width: 96%;
    margin-top: 9%;
    opacity: 1;
    margin-left: 47px;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #111111;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    margin-left: 47px;
    width: 93%;
    .inputForm {
      width: 100%;
      height: 119px;
      margin-right: 0px;
      margin-bottom: 39px;
      .Shapes {
        margin-top: 24px;
        width: 96%;
        margin-right: 0px;
        .line {
          .numberinput {
            width: 928px;
          }
        }
        .progress {
          width: 87%;
        }
      }
    }
  }

  .results {
    margin-top: 0px;
    margin-left: 47px;
    width: 100%;
    .result {
      margin-right: 19%;
      width: 50%;
      .title {
        color: black;
      }
      .content {
        color: black;
        white-space: nowrap;
      }
    }
    .buttomsend {
      position: absolute;
      width: 44.9%;
      height: 68px;
      left: 39px;
      top: 825px;
    }
  }
}

@media (max-width: 767px) {
  .headtext {
    padding-top: 12%;
    padding-left: 11px;
    font-size: 34px;
    width: 100%;
  }
  .inputs {
    flex-direction: column;
    padding-left: 11px;
    padding-right: 20px;
    .inputForm {
      width: 100%;
      height: 96px;
      margin-top: 28px;
      .Shapes {
        margin-top: 8px;
        width: 100%;
        .line {
          .numberinput {
            width: 100%;
          }
        }
        .progress.slider-progress {
          width: 85%;
        }
      }
    }
  }
  .results {
    flex-direction: column;
    margin-left: 11px;
    margin-top: 20px;

    .result {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      .content {
        font-size: 22px;
      }
    }
    .buttomsend {
      width: 95%;
      position: relative;
      padding: 10px 20px;
      top: 4px;
      height: 60px;
    }
  }
}
