@media (max-width: 2440px) {
  .headtext {
    width: 753px;
    margin-top: 213px;
    opacity: 0.47;
    margin-left: 47px;
    font-size: 54px;
  }
  .Shapes {
    margin-top: 24px;
  }
}

@media (max-width: 1024px) {
  .headtext {
    width: 95%;
    margin-top: 100px;
    opacity: 1;
    margin-left: 47px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    margin-left: 47px;
    width: 99%;
    .inputForm {
      width: 99%;
      height: 119px;
      margin-right: 0px;
      margin-bottom: 39px;
      .Shapes {
        margin-top: 24px;
        width: 96%;
        margin-right: 0px;
        .line {
          .numberinput {
            width: 928px;
          }
        }
        .progress {
          width: 95%;
        }
      }
    }
  }

  .results {
    margin-top: 0px;
    .result {
      margin-right: 19%;
      .title {
        color: black;
      }
      .content {
        color: black;
      }
    }
    .buttomsend {
      position: absolute;
      width: 35%;
      height: 68px;
      left: 48px;
      top: 825px;
    }
  }
}
@media (max-width: 768px) {
  .headtext {
    margin-top: 68px;
    margin-left: 36px;
  }

  .results {
    .buttomsend {
      width: 50%;
    }
  }
}
@media (max-width: 699px) {
  .headtext {
    margin-top: 44px;
    margin-left: 21px;
    font-size: 42px;
  }

  .inputs {
    margin-left: 20px;
  }
  .results {
    margin-left: 20px;
    .result {
      margin-right: 10%;
      .title{
        font-size: 15px;
        white-space: nowrap;
      }
      .content {
        font-size: 31px;
      }
    
    }
    .buttomsend{
      width: 65%;
    }
  }
}
@media (max-width: 420px) {
  .headtext {
    margin-top: 44px;
    margin-left: 21px;
    font-size: 34px;
  }
  .inputs {
    margin-left: 21px;
    margin-top: 50px;
    .inputForm {
      height: 96px;
      margin-bottom: 16px;
      margin-right: 20px;
      .Shapes {
        margin-top: 8px;
        width: 90%;
        .line {
          .numberinput {
            width: 100%;
          }
        }
        .progress.slider-progress {
          width: 85%;
        }
      }
    }
  }
  .results {
    flex-direction: column;
    margin-left: 21px;
    .result {
      margin-top: 30px;
      margin-bottom: 29px;
      .content {
        font-size: 22px;
      }
    }
    .buttomsend {
      width: 95%;
      height: 60px;
      position: absolute;
      width: 280px;
      height: 60px;
      left: 20px;
      top: 80%;
    }
  }
}
